<!DOCTYPE html>
<html>
<head>
    <title>Seznam produktu</title>
</head>
<body>
    <h2>Seznam pruduktu</h2>
    <table>
        <tr>
            <th>Název</th>
            <th>Datum zadání</th>
        </tr>
        <tr>
            <td>{{ products.name }}</td>
            <td>{{ products.date_added}}</td>
            <td>
                <form action="{{ url_for('delete_products', id=product.id) }}" method="POST">
                    <button type="submit">Smazat</button>
                </form>
                <a href="/edit/{{product.id}}">
                    <button type="submit">Upravit</button>
                </form>
                
            </td>
        </tr>
            <tr>
                <td colspan="2">Žádné produkty</td>
            </tr>
    </table>
</body>
</html>